.leftNav,
.rightNav {
    font-family: 'Press Start 2P', cursive;
}

.clicked-on {
    color: rgb(40, 68, 112);
    font-size: 1.16vw;
    margin: 0 0 0 0.2vw;
}

.nav {
    padding-bottom: 10px;
}
.leftNav {
    text-align: center;
    float: left;
    width: 18vw;
    background-color: rgba(136, 124, 124, 0.5);
    border-radius: 1vw;
    margin: 0.8vw 0 0.8vw 1vw;
}

.leftNav h1 {
    --color1: #000000;
    --color2: #0aa5ff;
    text-align: center;
    font-size: 2vw;
    background: repeating-linear-gradient(45deg,
            var(--color1),
            var(--color1) 30px,
            var(--color2) 30px,
            var(--color2) 60px);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    animation: 40s linear 0s infinite move;
}
body {
    background-color:rgb(255, 255, 255)
}
.rightNav {
    display: inline;
    width: 80vw;
}
.menuItems {
    list-style: none;
    display: flex;
    padding: 1vw;
}

.menuItems li {
    text-transform: uppercase;
    font-size: 1vw;
    margin: 0.65vw 0 0 1.4vw;
    width: 14.3vw;
    height: 5vw;
    text-align: center;
    line-height: 5vw;
    background-color: rgba(136, 124, 124, 0.5);
    border-radius: 1vw;
}

.menuItems li a {
    text-decoration: none;
    color: rgb(0, 98, 255);
    margin: 0 1vw;
    transition: font-size 0.5s, color 0.5s, margin 0.5s;
}

.menuItems li a:hover {
    color: rgb(40, 68, 112);
    font-size: 1.16vw;
    margin: 0 0 0 0.2vw;
}

/*education start*/
.school-content{
    display: table;
    max-width: 100%
}
.education-content {
    display: block;
    display: table-row;
    width: 100%;
}
.education-left {
    float: left;
    width: 70vw;
    max-height: 30vw;
    display: inline-block;
    border-radius: 2vw;
    display: table-cell;
    border: .1vw solid rgb(70, 61, 61);
    margin-top: 2vw;
}
.education-right {
    float: right;
    width: 26vw;
    display: inline-block;
    display: table-cell;
    height: 15vw;
    margin-top: 2.4vw;
}
.education-right img {
    border-radius: 1vw;
    width: 20vw;
    max-height: 20vw;
    line-height: 0vh;
}
.education-right img:first-of-type {
    height: 15vw;
}
.education-left h2 {
    margin: 1vw 0vw 0vw 1.3vw;
    font-size: 2.5vw;
    font-weight: bold;
    color: rgb(0, 98, 255);
}
.education-left p:first-of-type {
    margin: 0vw 0vw 0vw 1.3vw;
    font-style: italic;
    font-size: 1.8vw;
    color: rgba(136, 124, 124, 0.5);
}
.education-left p:last-of-type {
    margin: 0.5vw 1.3vw 1vw 1.3vw;
    font-size: 1.5vw;
    line-height: 2vw;
    margin-top: 1vw;
}
/*aboutme start*/
.hobbies {
    display: table;
    padding: 5vw;
    margin: 0vw 0vw 0vw 1vw;
}
.contentbox {
    display: table-cell;
    border: .2vw solid rgba(136, 124, 124, 0.5);
    border-radius: 1vw;
    margin: 1vw 1vw 1vw 1vw;
    text-align: center;
    width: 33%;
}
.contentbox h2 {
    color: rgb(0, 98, 255);
    font-style: italic;
    font-size: 1.7vw;
}
.contentbox p {
    color:rgb(0, 0, 0);
}
.biocontentbox {
    text-align: center;
    border: .5vw solid rgba(136, 124, 124, 0.5);
    margin: 1vw 0vw 1vw 0vw;
}
.biocontentbox h2 {
    color: rgb(0, 98, 255);
    font-size: 3vw;
    font-style: italic;
    margin: 2vw 0vw 5vw 10vw;
}
.biocontentbox p {
    font-size: 2vw;
    color:rgb(0, 0, 0);
    margin: -35vw 17vw 15vw 28vw;
}
.biocontentbox img {
    margin: -5vw 70vw 10vw 0vw;
    width: 22vw;
    height: 30vw;
}
.contact {
    display: table;
}
.contactbox {
    display: inline-block;
    display: table-caption;
    font-size: .5vw;
    margin: 0vw 0vw 0vw 0vw;
}
.contactbox h2 {
    color: rgb(0, 98, 255);
}
.contact {
    margin: -18vw 0vw 0vw 0vw;
    color: rgb(0, 98, 255);

}
/*professional start*/
.prof-content {
    display: flex;
    padding: 2vw 5vw 0vw 0vw;
    min-width: 100%;
}
.prof-left {
    display: inline-block;
    border-radius: 2vw;
    display: table-cell;
    padding: 0vw 0vw 0vw 0vw;
}
.prof-left img {
    height: 15vw;
    width: 15vw;
    border-radius: 2vw;
}
.prof-right {
    display: inline-block;
    border-radius: 2vw;
    display: table-cell;
    border: .1vw solid rgb(70, 61, 61);
}
.prof-right h2 {
    font-size: 2vw;
    color: rgb(0, 98, 255);
}
.prof-right p {
    font-size: 1.4vw;
}
.prof-right p:first-of-type {
    font-size: 1.6vw;
    color: rgba(136, 124, 124, 0.5);
    font-style: italic;
}