.leftNav,
.rightNav {
    font-family: 'Press Start 2P', cursive;
}

.leftNav {
    text-align: center;
    float: left;
    width: 18vw;
    background-color: rgba(136, 124, 124, 0.5);
    border-radius: 1vw;
    margin: 0.8vw 0 0.8vw 1vw;
}

.leftNav h1 {
    --color1: #000000;
    --color2: #0aa5ff;
    text-align: center;
    font-size: 2vw;
    background: repeating-linear-gradient(45deg,
            var(--color1),
            var(--color1) 30px,
            var(--color2) 30px,
            var(--color2) 60px);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    animation: 40s linear 0s infinite move;
}

.rightNav {
    display: flex;
    width: 80vw;
}

.menuItems {
    list-style: none;
    display: flex;
    padding: 0;
}

.menuItems li {
    text-transform: uppercase;
    font-size: 1vw;
    margin: 0.65vw 0 0 1.4vw;
    width: 14.3vw;
    height: 5vw;
    text-align: center;
    line-height: 5vw;
    background-color: rgba(136, 124, 124, 0.5);
    border-radius: 1vw;
}

.menuItems li a {
    text-decoration: none;
    color: rgb(0, 98, 255);
    margin: 0 1vw;
    transition: font-size 0.5s, color 0.5s, margin 0.5s;
}

.menuItems li a:hover {
    color: rgb(40, 68, 112);
    font-size: 1.16vw;
    margin: 0 0 0 0.2vw;
}
#face {
    width: 25vw;
}
#hotel {
    width: 30vw;
}
#jungle {
    width: 10vw;
}
#drake {
    width: 30vw;
}
#cook {
    width: 30vw;
}
#stream {
    width: 30vw;
}
#piano {
    width: 30vw;
}
#poppy {
    width: 30vw;
}
#cooking {
    width: 30vw;
}
#cell {
    width: 20vw;
}
#email {
    width: 30vw;
}
#adress {
    width: 25vw;
}
#band {
    width: 30vw;
}
#school {
    width: 30vw;
}

#jobs_id {
    text-align: center;
    border-bottom:rgb(40, 68, 112) solid 5px;
    color: blue;
    background-color: rgb(190, 188, 188);
    height: 4vw;
}
#school-Content {
    text-align: center; 
    border-bottom:rgb(40, 68, 112) solid 5px;
    color: blue;
    background-color: rgb(190, 188, 188);
    height: 4vw;
}
#contact-Info {
    text-align: center; 
    border-bottom:rgb(40, 68, 112) solid 5px;
    color: blue;
    background-color: rgb(190, 188, 188);
    height: 4vw;
}
#about_header {
    text-align: center; 
    border-bottom:rgb(40, 68, 112) solid 5px;
    color: blue;
    background-color: rgb(190, 188, 188);
    height: 4vw;
}
#video {
    color: salmon;
}



@keyframes move {
    0% {
        background-position: 0px;
    }

    100% {
        background-position: 1000px;
    }
}
body{
    text-align:center;
    background:#dfdfdf;
  }
h2{
    text-transform:uppercase;
    font-size:55px;
    font-family:'Verdana';
    padding:30px;
  }
